

.npt {
    margin-left: 10vw;
    margin-top: 5px;
    padding: 5px;

}

/* .btn {
    margin-left: 5px;
    border-radius: 3px;
    background-color: green;
    border-color:  white;
    padding: 5px;
    width:  30px;
    color:  white;
} */